$bg-color: #FFF7ED;
$white: #FFFFFF;
$black: #000000;
$text-dark: #161616;
$text-gray: #4D4D4D;
$footer-bg: #252525;
$footer-text: #AAAAAA;
$orange: #FF8C38;
$light-orange: #FFCC8D;
$van-type-text: #FFEAD0;
$font-family: "Inter", sans-serif;
$host-rating-bg:#FFDDB2;
$remove : #E05D5D;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: $font-family;
    background-color: $bg-color;
    color: $white;
}

header {
    width: 100%;
    height: 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;

    h1 {
        font-weight: 900;
        color: $black;
        font-size: 1.584rem;
        line-height: 1.59;
    }

    a {
        text-decoration: none;
    }

    nav {
        width: 50%;
        margin-top: 0.3125em;
        display: flex;
        justify-content: space-between;

        a {
            font-family: $font-family;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.43;
            color: $text-gray;
        }

        .user-icon {
            font-size: 1.25rem;
            color: $text-dark;
        }
    }
}

main {
    width: 100%;

    .home-section {
        padding: 10rem 1rem;
        @include flex-center;
        flex-direction: column;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ), url('/src/assets/home-section-bg.png');
        background-repeat: no-repeat;
        background-size: cover;

        h2 {
            font-weight: 800;
            font-size: 1.875rem;
            line-height: 1.4;
        }

        p {
            margin: 1.76em 0;
            font-weight: 500;
            font-size: 1.0625rem;
            line-height: 1.41;
        }

        a {
            width: 80%;
            max-width: 31.25rem;
            margin-top: 2.5em;
            padding: 0.3125em 0;
            font-family: $font-family;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.98;
            text-align: center;
            color: $white;
            background-color: $orange;
            border: none;
            border-radius: 0.3125em;
            text-decoration: none;
        }
    }

    .about-container {
        color: $text-dark;

        img {
            width: 100%;
            height: 233px;
            object-fit: cover;
            object-position: 0% 50%;
        }

        h2 {
            padding: 0.8em 0.5em;
            font-weight: 700;
            font-size: 1.7rem;
            line-height: 38px;
        }

        p {
            padding: 0.6em;
            font-weight: 500;
            font-size: 1.1rem;
            line-height: 22px;
        }

        .van-explore-container {
            width: 95%;
            height: 190px;
            margin: 1em auto;
            background-color: $light-orange;
            padding: 2em;
            border-radius: 1em;

            h3 {
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 30px;
            }

            a {
                display: inline-block;
                margin-top: 1.4em;
                font-weight: 700;
                font-size: 1rem;
                line-height: 23.92px;
                color: $white;
                text-decoration: none;
                background-color: $text-dark;
                padding: 0.8em 1.1em;
                border-radius: 0.8em;
            }
        }
    }
    .host{
        color:$text-dark;

        .host-nav{
        width: 100%;
        margin-top: 0.3125em;
        display: flex;
        justify-content: space-around;

        a {
            font-family: $font-family;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.43;
            color: $text-gray;
            text-decoration: none;
        }
    }

    .income{
        margin-top: 2.5em;
        padding: 3em 1em;
        display: flex;
        flex-direction: column;
        gap:1.5em;
        background-color: $van-type-text;

        h2{
            font-weight: 700;
            font-style: Bold;
            font-size: 2rem;
            line-height: 1.8rem;
        }

        span{
            font-weight: 500;
            font-size: 1rem;
            line-height: 22px;
            color: $text-gray;
        }
        p{
           font-weight: 800;
            font-size: 2.5rem;
            line-height: 38px;
        }
    }

    .rating{
        display: flex;
        align-items: center;
        padding: 2em 1em;
        background-color: $host-rating-bg;
        gap:1.8em;

        h3{
            font-weight: 700;
            font-style: Bold;
            font-size: 24px;
            line-height: 22px;
        }

        span{
            font-weight: 500;
            font-style: Bold;
            font-size: 1.2em;
            line-height: 22px;
            display: flex;
            align-items: center;
            gap:0.5em;
        }

        .star{
            color:$orange;
        }
    }

    .listed-vans{
        display: flex;
        flex-direction: column;
        padding: 2em 1em;
    
        .listed-van-headline{
            display: flex;
             justify-content: space-between;
        
        h3{
            font-weight: 700;
            font-style: Bold;
            font-size: 1.5rem;
            line-height: 22px;
        }

        a{
            display: inline-block;
            margin-right: 1em;
            color:$text-dark;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
        }
        }
        .saved-van{
            margin-top: 2em;
            display: flex;
            gap:1.5em;

            img{
                width: 100px;
                border-radius: 0.4em;
            }

            p{
               font-weight: 600;
               font-size: 1.2rem;
               line-height: 31.66px;
            }

            span{
               font-weight: 500;
                font-size: 1rem;
                line-height: 31.66px;
            }
        }
    }
}
    .vans-data {
        margin: 2em 0;

        h2 {
            margin-left: 0.7em;
            font-weight: 700;
            font-size: 1.8rem;
            color: $text-dark;
            line-height: 33.65px;
        }

        .vans {
            width: 100%;
            margin: 1.8em 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            column-gap: 0.3em;
            row-gap: 2em;
            color: $text-dark;

            .loading {
                grid-column: 1 / -1;
                justify-self: center;
                font-size: 1.2rem;
                color: $text-dark;
                @include flex-center;
                gap: 0.8em;
            }

            .van-container {
                img {
                    width: 200px;
                    border-radius: 0.5em;
                }

                p {
                    font-weight: 600;
                    font-size: 1.2rem;
                    line-height: 31.66px;
                    letter-spacing: 0%;
                }

                span {
                    font-weight: 500;
                    font-size: 1.1rem;
                    line-height: 31.66px;
                }

                .type {
                    color: $van-type-text;
                    width: 85px;
                    font-size: 1rem;
                    text-align: center;
                    border-radius: 0.3em;
                }

                a {
                    text-decoration: none;
                    color: $text-dark;
                }
            }
        }
    }

    .van-details {
        margin: 2.5em 0;
        display: flex;
        flex-direction: column;

        a {
            margin: 1.2em;
            color: $text-dark;
            display: flex;
            align-items: center;
            font-family: $font-family;
            font-weight: 500;
            font-size: 1rem;
            line-height: 22.92px;
            gap: 0.5em;
        }

        img {
            width: 400px;
            display: block;
            margin: auto;
            border-radius: 0.4em;
        }

        .van-type {
            display: inline-block;
            width: 85px;
            height: 33px;
            margin: 1.8em;
            text-align: center;
            font-weight: 600;
            font-size: 1rem;
            color: $van-type-text;
            line-height: 31.66px;
            border-radius: 0.3em;
        }

        h3 {
            margin-left: 1em;
            font-weight: 700;
            font-size: 2rem;
            line-height: 33.65px;
            color: $text-dark;
        }

        span {
            margin: 1em 1.7em;
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 44.15px;
            color: $text-dark;
        }

        p {
            margin: 0 1.8em;
            font-weight: 500;
            font-size: 1rem;
            line-height: 23.92px;
            color: $text-dark;
        }

        button{
            margin: 2em auto;
            width: 180px;
            height: 50px;
            font-weight: 700;
            font-size: 1rem;
            line-height: 23.92px;
            color: $white;
            background-color: $orange;
            border: none;
            border-radius: 0.3em;
        }

        .remove{
            background-color: $remove
        }

        .loading {
            margin-top: 2em;
            font-size: 1.1rem;
            color: $text-dark;
            @include flex-center;
            gap: 0.8em;
        }
    }
}

footer {
    width: 100%;
    height: 6.25rem;
    @include flex-center;
    color: $footer-text;
    background-color: $footer-bg;

    p {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.64;
    }
}

.spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (30em < width <= 97.4375em) {
    header {
        height: 9.375rem;
        padding: 0 2em;

        h1 {
            font-size: 3rem;
        }

        nav {
            justify-content: space-around;

            a {
                font-size: 1.6rem;
            }

            .user-icon {
                font-size: 2.3rem;
            }
        }
    }

    main {
        .home-section {
            padding: 12em 3.5em;

            h2 {
                font-size: 3.5rem;
            }

            p {
                font-size: 2rem;
            }

            a {
                padding: 0.6em 0;
                font-size: 1.3rem;
            }
        }

        .about-container {
            img {
                height: 400px;
                object-position: 0% 40%;
            }

            h2 {
                padding: 0.8em;
                font-size: 2rem;
            }

            p {
                padding: 0.8em;
                font-size: 1.5rem;
                line-height: 150%;
            }

            .van-explore-container {
                width: 60%;
                height: 250px;

                h3 {
                    font-size: 2rem;
                    line-height: 140%;
                }

                a {
                    margin-top: 1.6em;
                    font-size: 1.2rem;
                }
            }
        }
        .host{
            color:$text-dark;

            .host-nav{
            margin-top: 4em;
            

            a {
            font-size: 1.8rem;
            }
        }

        .income{
            padding: 4em 4em;
            gap:3.1em;
            
            h2{
            font-size: 3rem;
            }

            span{
                font-size: 1.8rem;
            }

            p{
            font-size: 3rem;
            }
        }

        .rating{
            padding: 5em 4em;
            gap:8em;

            h3{
            font-size: 1.8rem;
            }

            span{
                font-size: 1.5em;
            }
        }

        .listed-vans{
        margin-bottom: 2em;
       padding: 4em 4em;
       
        .listed-van-headline{
           
        h3{
           font-size: 2rem;
           margin-bottom: 1em;
        }

        a{
          font-size: 1.5rem;
        }
        }

        .vans-container{
           
        
        .saved-van{
            align-items: center;
            gap:1.5em;

            img{
                width: 300px;
            }

            p{
             font-size: 1.9rem;
             margin-bottom: 0.8em;
               
            }

            span{
               font-size: 1.5rem;
            }
        }
    }
    }
    }   

        .vans-data {
            margin: 2em 0;

            h2 {
                margin-left: 2em;
                font-size: 2.3rem;
            }

            .vans {
                grid-template-columns: repeat(3, 1fr);

                .van-container {
                    img {
                        width: 240px;
                        border-radius: 0.5em;
                    }

                    p {
                        font-size: 1.5rem;
                    }

                    span {
                        font-size: 1.3rem;
                        margin-top: 0.5em;
                        display: inline-block;
                    }

                    .type {
                        width: 90px;
                        font-size: 1.2rem;
                        margin-left: 0.8em;
                        display: inline-block;
                    }
                }
            }
        }
                .van-details {
        display: flex;
        flex-direction: column;
        align-items: center;


        a {
            margin-left: 3em;
            align-self: flex-start;
            font-size: 1.8rem;
        }

        img {
            width: 550px;
        }

        .van-type {
            width: 120px;
            height: 50px;
            @include flex-center;
            font-size: 1.5rem;
        }

        h3 {
            font-size: 3rem;
        }

        span {
            font-size: 1.8rem;
        }

        p {
            margin: 0 5em;
            font-size: 1.8rem;
            line-height: 150%;
        }

        button{
            width: 210px;
            height: 70px;
            font-size: 1.3rem;
        }

        .loading {
           font-size: 1.8rem;
        }
    }
    }

    footer {
        height: 9.375rem;

        p {
            font-size: 1.5rem;
        }
    }
}

@media (width > 97.4375em) {
    header {
        height: 9.375rem;
        padding: 0 2em;

        h1 {
            font-size: 3.5rem;
        }

        nav {
            justify-content: space-around;

            a {
                font-size: 1.8rem;
            }

            .user-icon {
                font-size: 2.5rem;
            }
        }
    }

    main {
        .home-section {
            padding: 18em 3.5em;
            background-position: 0 30%;

            h2 {
                font-size: 5rem;
            }

            p {
                font-size: 2.52rem;
            }

            a {
                padding: 0.6em 0;
                font-size: 1.5rem;
            }
        }

        .about-container {
            text-align: center;

            img {
                height: 457px;
                object-position: 0% 41%;
            }

            .about-text {
                display: flex;

                h2 {
                    font-size: 3rem;
                }

                p {
                    padding: 1em 7em;
                    font-size: 1.5rem;
                    line-height: 160%;
                    font-weight: 500;
                }

                .about-intro {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .van-explore-container {
                    width: 50%;
                    height: 530px;
                    margin-right: 1em;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h3 {
                        font-size: 2.3rem;
                        line-height: 160%;
                    }

                    a {
                        width: 450px;
                        margin: 1.5em auto;
                        font-size: 1.5rem;
                    }
                }
            }
        }

      .host{
        color:$text-dark;

        .host-nav{
        margin-top: 4em;
        

        a {
          font-size: 1.8rem;
        }
    }

    .income{
        padding: 4em 5em;
        gap:3.1em;
        
        h2{
           font-size: 3rem;
        }

        span{
            font-size: 1.8rem;
        }

        p{
          font-size: 3rem;
        }
    }

    .rating{
        padding: 5em 4em;
        gap:8em;

        h3{
           font-size: 2rem;
        }

        span{
            font-size: 1.8em;
        }
    }

    .listed-vans{
        margin-bottom: 2em;
       padding: 4em 4em;
       
        .listed-van-headline{
           
        h3{
           font-size: 2rem;
           margin-bottom: 1em;
        }

        a{
          font-size: 1.5rem;
        }
        }

        .vans-container{
            margin-top: 4em;
            display: grid;
            grid-template-columns: repeat(3,1fr);
        
        .saved-van{
            align-items: center;
            justify-content: center;
            gap:1.5em;

            img{
                width: 300px;
            }

            p{
             font-size: 1.9rem;
             margin-bottom: 0.8em;
               
            }

            span{
               font-size: 1.5rem;
            }
        }
    }
    }
}    

        .vans-data {
            margin: 5em 0;

            h2 {
                margin-left: 3em;
                font-size: 3rem;
            }

            .vans {
                margin-top: 3em;
                grid-template-columns: repeat(3, 1fr);
                row-gap: 6em;

                .van-container {
                    img {
                        width: 500px;
                        border-radius: 0.5em;
                    }

                    p {
                        margin-top: 1em;
                        font-size: 2rem;
                    }

                    span {
                        font-size: 1.8rem;
                        margin-top: 0.8em;
                        display: inline-block;
                    }

                    .type {
                        width: 150px;
                        padding: 0.4em 0;
                        font-size: 1.5rem;
                        margin-left: 0.8em;
                        display: inline-block;
                    }
                }
            }
        }

        .van-details {
        display: flex;
        flex-direction: column;
        align-items: center;


        a {
            margin-left: 3em;
            align-self: flex-start;
            font-size: 1.8rem;
        }

        img {
            width: 550px;
        }

        .van-type {
            width: 120px;
            height: 50px;
            @include flex-center;
            font-size: 1.5rem;
        }

        h3 {
            font-size: 3rem;
        }

        span {
            font-size: 1.8rem;
        }

        p {
            margin: 0 20em;
            font-size: 1.8rem;
            line-height: 150%;
        }

        button{
            width: 210px;
            height: 70px;
            font-size: 1.5rem;
        }

        .loading {
           font-size: 2rem;
        }
    }
    }

    footer {
        height: 10.8rem;

        p {
            font-size: 1.8rem;
        }
    }
}